/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
.container-body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.container-td {
	padding: 12px;
}

.container-h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.box {
  border: 1px solid #cbcbcb;
  border-top-style: none;
  min-height: 300px;
  padding: 20px;
}

.feedbeck-input {
  width: 100%;
}

.feedbeck-textarea {
  width: 100%;
}

.feedbeck-form {
  width: 100%;
}

hr {
  color: $vin-blue;
}

.feedbeck-error {
  color: $vin-red;
}

